{
    "development": {
      "DB_PROTOCOL": "postgres",
      "DB_HOST": "localhost",
      "DB_PORT": 5432,
      "DB_USERNAME": "<insert_db_username>",
      "DB_PASSWORD": "<insert_db_password>",
      "DB_DIALECT": "postgres",
      "DB_NAME": "oma_development",
      "REDIS_HOST" : "localhost",
      "REDIS_PORT" : "6379",
      "PORT" : 3000,
      "photosPath" : {
        "base" : "tmp/development/upload/photos/",
        "products" : "products/",
        "customers" : "customers/"
      }
    },
    "test": {
      "DB_PROTOCOL": "postgres",
      "DB_HOST": "localhost",
      "DB_PORT": 5432,
      "DB_USERNAME": "<insert_db_username>",
      "DB_PASSWORD": "<insert_db_password>",
      "DB_DIALECT": "postgres",
      "DB_NAME": "oma_test",
      "REDIS_HOST" : "localhost",
      "REDIS_PORT" : "6379",
      "PORT" : 8000,
      "photosPath" : {
        "base" : "tmp/test/upload/photos/",
        "products" : "products/",
        "customers" : "customers/"
      }
    },
    "production": {
      "DB_PROTOCOL": "postgres",
      "DB_HOST": "localhost",
      "DB_PORT": 5432,
      "DB_USERNAME": "<insert_db_username>",
      "DB_PASSWORD": "<insert_db_password>",
      "DB_DIALECT": "postgres",
      "DB_NAME": "oma",
      "REDIS_HOST" : "localhost",
      "REDIS_PORT" : "6379",
      "PORT" : 3000,
      "photosPath" : {
        "base" : "upload/photos/",
        "products" : "products/",
        "customers" : "customers/"
      }
    }
}
